{% extends 'base.html.twig' %}

{% block body %}

    <h1>Search</h1>
    <form action="{{ path('homepage') }}">
        <input placeholder="category search" name="q_tag" type="text">
        <button>submit</button>
    </form>

    <h1>Choose category</h1>
    <div class="jumbotron">
        <ul class="nav nav-pills">
            {% for category in categorys %}
                <li><a href="#">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
